<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>모여봐요 소통의 숲</title>
    <link rel="stylesheet" href="css/domain.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <style>
        li:nth-child(2)::before {
            content: "";
            float: left;
            width: 1px;
            height: 10px;
            margin: 4px 10px;
            background-color: rgba(0, 0, 0, .08);
        }
        .mb-3 {
            margin: 0 0 0.5rem !important;
        }
        label {
            margin-top: 5px;
            padding-left: 0.5rem;
        }
    </style>
</head>

<body class="login-page">
<div class="login-logo">
    <a href="/"><b>소통의 숲</b></a>
</div>
<div class="login-box">
    <!-- /.login-logo -->
    <div class="card" style="box-shadow: none">
        <div class="card-body login-card-body">
            <form action="register" name="userRegister" method="post">
                <div class="mb-3">
                    <div class="input-group">
                        <input type="email" name="email" id="email" class="form-control" placeholder="이메일">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <label id="lEmail"></label>
                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <input type="password" name="pw" id="pw" class="form-control" placeholder="비밀번호">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <label id="lPw"></label>
                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <input type="text" name="name" id="userName" class="form-control" placeholder="닉네임">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-address-card"></span>
                            </div>
                        </div>
                    </div>
                    <label id="lName"></label>
                </div>
                <!-- /.col -->
                <div class="mb-3" style="margin-top: 25px;">
                    <button type="submit" class="btn btn-success btn-block" id="reg" onclick="validation()">회원가입</button>
                </div>
            </form>

            <div class="mb-3" style="font-size: 11px; ">
                <ul style="float: right; list-style-type: none;">
                    <li style="float: left;">
                        <a href="/login" class="text-center">로그인</a>
                    </li>
                    <li style="float: left;">
                        <a href="register.html" class="text-center">비밀번호 분실</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="/js/duplicate.js"></script>
<script th:inline="javascript">
    var msg = [[${msg}]];
    if (msg != null) alert(msg);
</script>
</body>
</html>